<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo-Detail</title>
</head>
<body>
    <main>
        <div>
            <h1>
                {{ todolistdetail.name }}

                <p><a href="{% url 'todo_list_update' items.id %}">Edit</a></p>

                <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tasks in todolistdetail.items.all %}
                    <tr>
                        <td> {{ tasks.task }} </a>  </td>
                        <td> {{ tasks.due_date }}</td>
                    </tr>
                    {%endfor%}
                </tbody>


            </table>
        </div>
    </main>

</body>
</html>
